<a href="https://colab.research.google.com/github/ryanleeallred/DS-Unit-1-Sprint-2-Statistics/blob/master/module2/LS_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip

--2020-07-14 19:56:24--  https://archive.ics.uci.edu/ml/machine-learning-databases/00320/student.zip
Resolving archive.ics.uci.edu... 128.195.10.252
Connecting to archive.ics.uci.edu|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20478 (20K) [application/x-httpd-php]
Saving to: 'student.zip.4'

student.zip.4       100%[===================>]  20.00K  --.-KB/s    in 0.06s

2020-07-14 19:56:24 (335 KB/s) - 'student.zip.4' saved [20478/20478]

In [5]:
!unzip -o student.zip

Archive:  student.zip
  inflating: student-mat.csv
  inflating: student-por.csv
  inflating: student-merge.R
  inflating: student.txt

In [11]:
import pandas as pd
from scipy import stats
import numpy as np

df = pd.read_csv('student-mat.csv', sep=';')

df.head()
#print(df.shape)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [12]:
##Null hypo: are independent
#Alt hypo: are dependent

#independent: school & extra paid classes within the course subject 
contingency_ind = pd.crosstab(df['school'], df['paid'])
contingency_ind

paid     no  yes
school
GP      188  161
MS       26   20

In [14]:
stats.chi2_contingency(contingency_ind)
##due to the chi2 stat of 0.033 and p-val of 0.855,
#we failed to reject the null hypothesis

(0.03316606118405188,
 0.8554920723086561,
 1,
 array([[189.07848101, 159.92151899],
        [ 24.92151899,  21.07848101]]))

In [47]:
##Null hypo: are independent
#Alt hypo: are dependent

#dependent: failures & romantic
contingency_dep = pd.crosstab(df['failures'], df['romantic'])
contingency_dep

romantic   no  yes
failures
0         216   96
1          30   20
2           6   11
3          11    5

In [48]:
stats.chi2_contingency(contingency_dep)
##due to the chi2 stat of 9.47 and p-val of 0.023,
#we reject the null hypothesis, and suggest the alt hypo
##the academic failures and romantic relationships are dependent

(9.470515220399893,
 0.02364710657583802,
 3,
 array([[207.73670886, 104.26329114],
        [ 33.29113924,  16.70886076],
        [ 11.31898734,   5.68101266],
        [ 10.65316456,   5.34683544]]))

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [49]:
#with margins
contingency = pd.crosstab(df['failures'], df['romantic'], margins=True)
contingency
#print(contingency.values)

romantic   no  yes  All
failures
0         216   96  312
1          30   20   50
2           6   11   17
3          11    5   16
All       263  132  395

In [50]:
#without margins
##observed = pd.crosstab(df['failures'], df['romantic'])
##observed
#print(observed.values)

In [51]:
#calculate 
row_total = df['failures'].value_counts().sort_index().values
row_total

array([312,  50,  17,  16])

In [52]:
col_total = df['romantic'].value_counts().sort_index().values
col_total

array([263, 132])

In [53]:
sample_size = df.shape[0]
sample_size

395

In [60]:
#got everything needed, now make a numpy array of expected vals
expected = np.array([[0.0,0.0],
                    [0.0,0.0],
                    [0.0,0.0],
                    [0.0,0.0]])

#i and j represents row and column positions
for i, col in enumerate(col_total):
    for j, row in enumerate(row_total): 
        expected_value = (row*col)/sample_size
        expected[i][j] = expected_value
        print(expected_value)
expected

207.7367088607595
33.29113924050633

IndexError: index 2 is out of bounds for axis 0 with size 2

In [46]:
#calculate chi2 stat
##sum the individual chi2 vals by rows and then columns
chi2 = ((observed-expected)**2/expected).sum().sum()
chi2

#DOF: (#rows-1 * #cols-1) = 3
#P-val: https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html
##due to the chi2 stat of xxxxx and p-val of xxxxx,
#we xxxx the null hypothesis

ValueError: Unable to coerce to DataFrame, shape must be (4, 2): given (2, 2)

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [ ]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)